@import "../../styles/styles.scss";


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading{
    padding: 2rem 2rem 2rem 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
}

p{
    margin: 0;
}

.toggle{
    margin-right: 5rem;
}

.songsContainer {
    display: flex;
    background-color:#4C63AA;
    padding: 0.75rem 2rem;
    border-radius: 3rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-left: -3rem;
}

.card {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    max-width: 100rem;
    padding: 0;
    justify-content: center;
}

.genreHeader{
    display: flex;
    align-items: center;
}

.genreImage{
    margin: 1rem 0 1rem 3rem;
}

@include media-mixin($mobile-breakpoint){
    .genreImage img{
        width: 70%;
    }
    .songsContainer{
        margin-left: -5rem;
    }
}