@import "../../styles/styles.scss";

.songsContainer {
    display: flex;
}

.card {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    max-width: 100rem;
    padding: 0;
    justify-content: center;
    background-color: #F5F5F5;
}

.heading{
    padding: 2rem 2rem 2rem 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
}

p{
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F5;

}

.toggle{
    margin-right: 5rem;
}

.toggleImg{
    margin-right: 4rem;
}
